<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996203001226-nnmkqpmq7q4d73d0sen2bvf90cdf2tq2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996203001226-nnmkqpmq7q4d73d0sen2bvf90cdf2tq2</string>
	<key>API_KEY</key>
	<string>AIzaSyCO2qE6-WjKNoj6kCjUIxT-zShO-A2Dvx0</string>
	<key>GCM_SENDER_ID</key>
	<string>996203001226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-b2137</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-b2137.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996203001226:ios:064021a34e7742a2b5c473</string>
</dict>
</plist>